*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/MYUSER_EnterpriseApplication/MYUSER_EnterpriseApplication-ejb/nbproject/private/
/MYUSER_EnterpriseApplication/MYUSER_EnterpriseApplication-war/nbproject/private/
/MYUSER_EnterpriseApplication/nbproject/private/
/MYUSER_Java/build/
/MYUSER_Java/nbproject/private/
/MYUSER_ClientApplication/build/
/MYUSER_ClientApplication/dist/
/MYUSER_Java/dist/
/MYUSER_ClientApplication/nbproject/private/
/SecureSessionBeansEJB/build/
/SecureSessionBeansEJB/dist/
/SecureApplicationClient/build/